.navtop {
    overflow: hidden;
    background-color: rgb(1, 163, 41);
    border-radius: 30px;
}

.navtop a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navtop a:hover {
    background-color: rgb(0, 44, 11);
    color: rgba(255, 255, 255, 0.795);
    border-radius: 30px;
}

.navtop a.active {
    background-color: #18e3f1;
    color: rgb(8, 3, 3);}